<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script  type="text/javascript" src="js/add.js"></script>
<script type="text/javascript">
</script>
<title>追加</title>
</head>
<body>
<div>
<table border>
  <thead>
  <tr>
    <th>タイトル</th>
    <th>開始日</th>
    <th>開始時間</th>
    <th>URL</th>
    <th>曜日</th>
    <th>局</th>
  </tr>
</thead>
<tbody>
  <% @broadcastings.each do |b| %>
    <tr>
      <td><%= b.title %></td>
      <td><%= b.started_day %></td>
      <td><%= b.started_time %></td>
      <th><%= b.url %></td>
      <td><%= b.day_of_week %></td>
      <td><%= b.tv_station %></td>
      <form method="post" action="del">
      <td><input type="submit" value="削除"></td>
      <input type="hidden" name="id" value="<%= b.id %>">
      <input type="hidden" name="_method" value="DELETE">
      </form>
    </tr>
  <% end %>
  <tr>
    <form method="post" action="del_all" onSubmit="return checkSubmit()">
      <td><input type="submit" value="全件削除"></td>
      <input type="hidden" name="_method" value="DELETE">
    </form>
  </tbody>
</table>
<div>
<table id="inputTbl" border>
  <thead>
  <tr>
    <th>No</th>
    <th>タイトル</th>
    <th>開始日</th>
    <th>開始時間</th>
    <th>URL</th>
    <th>曜日</th>
    <th>局</th>
  </tr>
</thead>
<tbody id="inputBody">
    <tr id="inputTr">
      <td>1</td>
      <td><input type="text" name="title"></td>
      <td><input type="text" name="started_day"></td>
      <td><input type="text" name="started_time"></td>
      <td><input type="text" name="url"></td>
      <td>
        <select name="day_of_week" size="1">
          <option value="月">月</option>
          <option value="火">火</option>
          <option value="水">水</option>
          <option value="木">木</option>
          <option value="金">金</option>
          <option value="土">土</option>
          <option value="日">日</option>
        </select>
      </td>
      <td>
      <input type="text" list="tv" name="tv_station" autocomplete="on">
      <datalist id="tv">
        <% @tv_stations.each do |t| %>
          <option value="<%= t.name %>"><%= t.name %></option>
        <% end %>
      </datalist>
      </td>
      <td><button type="button" name="add" id="add">追加</button></td>
      <td><button type="button" name="del", id="delete">削除</button></td>
    </tr>
</tbody>
  </table>
  <button type="button" name="submit" id="submit">登録</button>
</table>
</div>
<a href='/tv_station_list'>tv_station_list</a>
</body>
</html>
